<!DOCTYPE html>
<html lang="en">
<head>
	{{>header}}
</head>
<body>
	{{>navbar}}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <h1>
                    LOGIN DONE.
                </h1>
            </div>
		</div>
	</div>
	{{>script}}
</body>
</html>